metricbeat.modules:
- module: elasticsearch
  hosts: ["https://es-node01:9200", "https://es-node02:9200", "https://es-node03:9200"]
  username: "elastic"
  password: "{{ es_password }}"
  ssl.verification_mode: none
  xpack.enabled: true
  period: 10s

output.elasticsearch:
  hosts: ["https://es-node01:9200"]
  username: "elastic"
  password: "{{ es_password }}"
  ssl.verification_mode: none

processors:
  - add_host_metadata: ~
  - add_docker_metadata: ~
