#Python 
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

#research
ml_research/results/

#Ansible
*.retry
*.log
ansible/roles/elasticsearch/vars/secrets.yml
.vault_pass

#Docker
.env
docker-compose*.yml
kibana.yml
metricbeat.yml
filebeat.yml
es-node*-data/

#Security
certs/
*.p12
*.pem
*.key
*.crt

#OS specific
.DS_Store
.thumbs.db

